{% extends "base.html" %}

{% block title %}
<title>Главная страница</title>
{% endblock title %}
{% block content %}
<nav>
  <h3>
    Темы:
  </h3>
  <ol>
    <li class="nav-item">
      <a class="nav-link active" href="pages/integer/">Числовые классы в Python</a>
    </li>
    <li>
      <a class="nav-link active" href="pages/collections/">Коллекции в Python</a>
    </li>
    <li>
      <a class="nav-link active" href="pages/string/">Строковый класс в Python</a>
    </li>
    <li>
      <a class="nav-link active" href="pages/boolean/">Булевый класс в Python</a>
    </li>
    <li>
      <a class="nav-link active" href="pages/data_structures/">Структуры данных</a>
    </li>
    <li>
      <a class="nav-link active" href="pages/algorithms/">Алгоритмы</a>
    </li>
    <li>
      <a class="nav-link active" href="pages/method/">Методы решения алгоритмических задач</a>
    </li>
  </ol>
</nav>
{% endblock content %}