{% extends "base.html" %}

{% block title %}
<title>Коллекции</title>
{% endblock title%}

{% block content %}
<div class="row">
    <div class="col-3">
        <nav>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="">Список - List</a>
                </li>
                <li class="list-group-item">
                    <a href="">Кортеж - Tuple</a>
                </li>
                <li class="list-group-item">
                    <a href="">Словарь - Dict</a>
                </li>
                <li class="list-group-item">
                    <a href="">Множество - Set</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-9">
        <p>Беседа окончена...<br>
            Чинно<br>
            Мы выпили весь самовар.<br>
            По-старому с шубой овчинной<br>
            Иду я на свой сеновал.<br>
            Иду я разросшимся садом,<br>
            Лицо задевает сирень.<br>
            Так мил моим вспыхнувшим взглядам<br>
            Состарившийся плетень.<br>
            Когда-то у той вон калитки<br>
            Мне было шестнадцать лет,<br>
            И девушка в белой накидке<br>
            Сказала мне ласково: «Нет!»<br>
            Далекие, милые были.<br>
            Тот образ во мне не угас...<br>
            Мы все в эти годы любили,<br>
            Но мало любили нас.</p>
            <p>Беседа окончена...
                Чинно
                Мы выпили весь самовар.
                По-старому с шубой овчинной
                Иду я на свой сеновал.
                Иду я разросшимся садом,
                Лицо задевает сирень.
                Так мил моим вспыхнувшим взглядам
                Состарившийся плетень.
                Когда-то у той вон калитки
                Мне было шестнадцать лет,
                И девушка в белой накидке
                Сказала мне ласково: «Нет!»
                Далекие, милые были.
                Тот образ во мне не угас...
                Мы все в эти годы любили,
                Но мало любили нас.</p>
    </div>
</div>  
{% endblock content %}
