<DOCTYPE html>
    <html lang="ru">
        <head>
            <title>
                О сайте
            </title>
        </head>
        <body>
            <header>
                <h2>
                    Главная страница
                </h2>
            </header>
            <main>
                <h1>
                    О сайте!
                </h1>
                <p>
                    В планах сделать <a href="http://127.0.0.1:8000/">сайт</a> с теорией и заданиями на различные темы нужные для бэкенд разработки
                </p>
                <footer>
                    <p>
                        <i>
                            Начало разработки: 03.02.2024
                        </i>
                        <br>
                        Разработчик: <i>Кабурнеев Андерей</i>
                    </p>
            </main>
            <footer>
                <p>
                    <i>
                        Начало разработки: 03.02.2024
                    </i>
                    <br>
                    Разработчик: <i>Кабурнеев Андерей</i>
                </p>
            </footer>
        </body>
    </html>